<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iu.home.board.qna.QnaMapper">
	<select id="getList" resultType="QnaVO" parameterType="Pager">
		SELECT *
		FROM qna
		ORDER BY num DESC
		limit #{startRow}, #{perPage}
	</select>

	<insert id="setAddList" parameterType="QnaVO"
		useGeneratedKeys="true" keyProperty="num">
		INSERT into qna(num,
		writer, title,
		contents, hit, regDate)
		values(null, #{writer},
		#{title}, #{contents}
		,1, now())
	</insert>

	<insert id="setFileAdd" parameterType="QnaFileVO">
		insert into qnaFiles
		values(null, #{num}, #{fileName}, #{oriName})
	</insert>

	<select id="getDetail" parameterType="QnaVO"
		resultMap="fileDetail">
		<!-- select * from qna where num = #{num} -->
		select *
		from qna q
		left join
		qnaFiles qf
		on q.num = qf.num
		where q.num =
		#{num}
	</select>
	<resultMap type="QnaVO" id="fileDetail">
		<id column="num" property="num" />
		<result column="writer" property="writer" />
		<result column="title" property="title" />
		<result column="contents" property="contents" />
		<result column="hit" property="hit" />
		<result column="regDate" property="regDate" />
		<collection property="qnaFileVOs" javaType="List"
			ofType="QnaFileVO">
			<id column="fileNum" property="fileNum" />
			<result column="num" property="num" />
			<result column="fileName" property="fileName" />
			<result column="oriName" property="oriName" />
		</collection>
	</resultMap>

	<select id="getFileDetail" parameterType="QnaFileVO"
		resultMap="DownFile">
		select * from qnaFiles where filenum = ${fileNum}
	</select>

	<resultMap type="QnaFileVO" id="DownFile">
		<id column="fileNum" property="fileNum" />
		<result column="num" property="num" />
		<result column="fileName" property="fileName" />
		<result column="oriName" property="oriName" />
	</resultMap>

	<update id="setQnaUpdate" parameterType="QnaVO">
		update qna set
		title=#{title}, contents=#{contents}
		where num = #{num}
	</update>

	<delete id="DeleteQnaFile" parameterType="QnaFileVO">
		delete from qnaFiles
		where fileNum=${fileNum}
	</delete>

</mapper>