<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iu.home.board.qna.QnaMapper">
	<select id="getList" resultType="QnaVO" parameterType="Pager">
		<!-- SELECT * FROM qna order by num desc -->
		select *
		from qna
		order by num desc
		limit #{startRow}, #{perPage}
	</select>

	<insert id="setAddList" parameterType="QnaVO">
		INSERT into qna
		values(null, #{writer}, #{title}, #{contents} ,#{hit}, now(),
		#{ref},
		#{step}, #{depth})
	</insert>

</mapper>