<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iu.home.board.qna.QnaMapper">
	<select id="getList" resultType="QnaVO" parameterType="Pager">
		SELECT *
		FROM qna
		ORDER BY num DESC
		limit #{startRow}, #{perPage}
	</select>

	<insert id="setAddList" parameterType="QnaVO"
		useGeneratedKeys="true" keyProperty="num">
		INSERT into qna(num,
		writer, title,
		contents, hit, regDate)
		values(null, #{writer},
		#{title}, #{contents}
		,1, now())
	</insert>

	<insert id="setFileAdd" parameterType="QnaFileVO">
		insert into qnaFiles
		values(null, #{num}, #{fileName}, #{oriName})
	</insert>

	<select id="getDetail" resultType="QnaVO">
		select *
		from qna where num = #{num}
		<!-- select * from qna q inner join qnaFiles qf on q.num = qf.num where 
			q.num = #{num}; -->
	</select>

</mapper>